<phpunit
        bootstrap="./bootstrap.php"
        colors="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        convertErrorsToExceptions="true"
        verbose="true"
>
    <php>
        <env name="ES_TEST_HOST" value="http://localhost"/>
        <env name="ES_TEST_PORT" value="9200"/>
    </php>
    <testsuites>
        <testsuite name="esTest">
            <directory>/www/elastic-php-based-official/tests/</directory>
            <exclude>/www/elastic-php-based-official/tests/EsTests.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
